---
    import React from './../icons/React.astro'
    import Vite from './../icons/Vite.astro'
    import Tailwind from './../icons/Tailwind.astro'
    import SQLite from './../icons/Sqlite.astro'
    import Express from './../icons/Express.astro'
    import Nodejs from './../icons/Nodejs.astro'
    import Next from './../icons/Next.astro'
    import Typescript from './../icons/Typescript.astro'
    import Python from './../icons/Python.astro'
    import Tensorflow from './../icons/Tensorflow.astro'
    import Pandas from './../icons/Pandas.astro'
    import Numpy from './../icons/Numpy.astro'

    const TAGS = {
        REACT:{
            name: "React",
            class: "bg-[#0096ff] text-white",
            icon: React
        },
        VITE:{
            name: "Vite",
            class: "bg-[#FFD74F] text-purple-950",
            icon: Vite
        },
        TAILWIND:{
            name: "Tailwind",
            class: "bg-[#003159] text-white",
            icon: Tailwind
        },
        SQLITE:{
            name: "SQLite",
            class: "bg-[#5B6C9D] text-white",
            icon: SQLite
        },
        EXPRESS:{
            name: "Express",
            class: "bg-[#818695] text-white",
            icon: Express
        },
        NODEJS:{
            name: "Nodejs",
            class: "bg-[#215127] text-white",
            icon: Nodejs
        },
        NEXT:{
            name: "Next",
            class: "bg-black text-white",
            icon: Next
        },
        TYPESCRIPT: {
            name: "Typescript",
            class: "bg-[#3178c6] text-white",
            icon: Typescript
        },
        PYTHON: {
            name: "Python",
            class: "bg-[#4B8BBE] text-yellow-400",
            icon: Python
        },
        TENSORFLOW: {
            name: "Tensorflow",
            class: "bg-white text-orange-600",
            icon: Tensorflow
        },
        PANDAS: {
            name: "Pandas",
            class: "bg-purple-400 text-white",
            icon: Pandas
        },
        NUMPY: {
            name: "Numpy",
            class: "bg-white text-blue-400",
            icon: Numpy
        },
    }
const projects = [
    {
        title: "Salary Predictor",
        description: "Aplicaci칩n web creada desde cero que predice el salario de trabajos relacionados a TI, utilizando IA mediante una red neuronal creada con TensorFlow y Keras.",
        frontend: "Next.js, Typescript, Tailwind",
        backend: "Flask, TensorFlow, Keras, Pandas, Scikit_learn, Numpy",
        link: "https://salary-prediction-kappa.vercel.app",
        photo: "images/project2.png",
        tags: [TAGS.NEXT, TAGS.TYPESCRIPT, TAGS.TAILWIND, TAGS.PYTHON, TAGS.TENSORFLOW,
            TAGS.PANDAS, TAGS. NUMPY]
    },
    {
        title: "Cloud Services Comparison",
        description: "P치gina web creada desde cero que permite explorar y comparar los distintos servicios que ofrecen los m치s conocidos proveedores de la nube.",
        frontend: "React, Tailwind y Vite",
        backend: "Base de datos: SQLite. Creaci칩n de API: Express, nodeJS",
        link: "https://cloud-comparison-frontend.vercel.app",
        photo: "images/project1.png",
        tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.VITE, TAGS.SQLITE, TAGS.EXPRESS, TAGS.NODEJS]
    },
    
]

---

<section class="mx-auto w-[300px] md:w-[700px] my-10" id="projects">
    <h1 class="text-4xl my-8">
        Proyectos
    </h1>
    <div class="flex gap-8 flex-wrap">
        {
            projects.map(({title, description, frontend, backend, link, photo, tags})=>(
                <a href=`${link}` target="_blank" class="flex flex-col items-center
                 rounded-lg shadow
                    md:flex-row md:max-w-xl 
                   border-gray-700 bg-gray-800 hover:bg-gray-700"
                >
                    <img class="object-cover w-full rounded-t-lg h-30 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src=`${photo}` alt="">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{title}</h5>
                        <p class="mb-3 font-normal text-gray-400">{description}</p>
                        <p class="mb-3 font-normal text-yellow-100">Frontend: {frontend}</p>
                        <p class="mb-3 font-normal text-yellow-100">Backend: {backend}</p>
                        <ul class="flex gap-x-2 flex-row mb-2 flex-wrap gap-y-2">
                            {tags.map((tag) => (
                                <li>
                                    <span
                                        class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                                    >
                                        <tag.icon class="size-4" />
                                        {tag.name}
                                    </span>
                                </li>
                            ))}
                        </ul>
                    </div>
                </a>
            ))
        }

    </div>
</section>