---
    import React from './../icons/React.astro'
    import Vite from './../icons/Vite.astro'
    import Tailwind from './../icons/Tailwind.astro'
    import SQLite from './../icons/Sqlite.astro'
    import Express from './../icons/Express.astro'
    import Nodejs from './../icons/Nodejs.astro'

    const TAGS = {
        REACT:{
            name: "React",
            class: "bg-[#0096ff] text-white",
            icon: React
        },
        VITE:{
            name: "Vite",
            class: "bg-[#FFD74F] text-purple-950",
            icon: Vite
        },
        TAILWIND:{
            name: "Tailwind",
            class: "bg-[#003159] text-white",
            icon: Tailwind
        },
        SQLITE:{
            name: "SQLite",
            class: "bg-[#5B6C9D] text-white",
            icon: SQLite
        },
        EXPRESS:{
            name: "Express",
            class: "bg-[#818695] text-white",
            icon: Express
        },
        NODEJS:{
            name: "Nodejs",
            class: "bg-[#215127] text-white",
            icon: Nodejs
        },
    }
const projects = [
    {
        title: "Cloud Services Comparison",
        description: "Página web creada desde cero que permite explorar y comparar los distintos servicios que ofrecen los más conocidos proveedores de la nube.",
        frontend: "React, Tailwind y Vite",
        backend: "Base de datos: SQLite. Creación de API: Express, nodeJS",
        link: "https://cloud-comparison-frontend.vercel.app",
        photo: "images/project1.png",
        tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.VITE, TAGS.SQLITE, TAGS.EXPRESS, TAGS.NODEJS]
    }
]

---

<section class="mx-auto w-[300px] md:w-[700px] my-10" id="projects">
    <h1 class="text-4xl my-8">
        Proyectos
    </h1>
    <div class="flex gap-8 flex-wrap">
        {
            projects.map(({title, description, frontend, backend, link, photo, tags})=>(
                <a href=`${link}` target="_blank" class="flex flex-col items-center
                 rounded-lg shadow
                    md:flex-row md:max-w-xl 
                   border-gray-700 bg-gray-800 hover:bg-gray-700"
                >
                    <img class="object-cover w-full rounded-t-lg h-30 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src=`${photo}` alt="">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{title}</h5>
                        <p class="mb-3 font-normal text-gray-400">{description}</p>
                        <p class="mb-3 font-normal text-yellow-100">Frontend: {frontend}</p>
                        <p class="mb-3 font-normal text-yellow-100">Backend: {backend}</p>
                        <ul class="flex gap-x-2 flex-row mb-2 flex-wrap gap-y-2">
                            {tags.map((tag) => (
                                <li>
                                    <span
                                        class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                                    >
                                        <tag.icon class="size-4" />
                                        {tag.name}
                                    </span>
                                </li>
                            ))}
                        </ul>
                    </div>
                </a>
            ))
        }

    </div>
</section>